.label {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.pie {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.text {
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
  font-size: 1em;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  user-select: none;
}
