// Brand colors
$dixa-black: #191919;
$dixa-black-faded: #5e5d5e;
$dixa-blue: #5644d8;
$dixa-blue-faded: #897ce3;
$dixa-very-blue: #3f329d;
$dixa-very-blue-faded: #786fba;
$dixa-pastel: #dad5e7;
$dixa-pastel-faded: #f2f0f6;
$dixa-salmon: #eea3a1;
$dixa-salmon-faded: #f3bebd;
$dixa-separator-grey: #e3e4e6;
$dixa-separator-grey-faded: #fff;
$dixa-background-grey: #f1f2f4;

$dixa-light-purple: #eae8fd;
$dixa-fluo-purple: #9a8ee8;

// Secondary colors
$yellow: #eac435;
$yellow-faded: #f3dc7f;
$yellow-faded-light: #fefcf6;
$tangerine: #f09948;
$tangerine-faded: #f7cca3;
$orange: #ff691c;
$orange-faded: #ffb48d;
$red: #d8484d;
$red-faded: #eba3a6;
$red-faded-light: #fdf6f6;
$blue: #4ba6f8;
$blue-faded: #a5d2fb;
$blue-faded-light: #f5f5fa;
$mint: #7bc4a9;
$mint-faded: #bde1d4;
$olive: #a4c280;
$olive-faded: #d1e0bf;
$brown: #b59271;
$brown-faded: #dac8b8;
$green: #46db75;

$color-button-info: #0183fd;
$color-button-success: #0aaf7a;
$color-button-warning: #fe8e00;
$color-button-danger: #dc2626;

$drop-shadow: #0f1f42;

// Greys
$grey-1: #393939;
$grey-2: #5a5a5a;
$grey-3: #7a7a7a;
$grey-4: #9b9b9b;
$grey-5: #bbb;
$grey-6: #dcdcdc;
$grey-7: #f7f7f7;

$modal-dimmer: rgba($grey-1, 0.3);
