.root {
  border-radius: 50%;
  border-style: solid;
  border-color: #dcdcdc;
  border-top-color: #5644d8;
  animation: spin 0.8s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
