@import '../../styles/import';

.root {
  position: relative;
  width: 72px;
  height: 72px;

  &NoWaiting {
    $no-waiting: & !global;
  }
}

.counter {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 24px;
  color: #ff9430;

  #{$no-waiting} & {
    color: $grey-6;
  }
}
