.info{
  width: fit-content;
  border: solid 2px green;
  padding: 10px;
  font-family: verdana;
  font-size: 12px;
}

.children{
  font-size: 8px;
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
